@import "tailwindcss";

header h1 {
  @apply text-white;
}

.bg-primary {
 background:linear-gradient(135deg,#600933,#100B2C,#0A1598) ;
}

.mobile-nav {
  @apply fixed top-19 right-0 z-50 w-60 h-80 bg-amber-500 px-10 py-2;
}

.mobile-nav a {
  @apply text-white text-xl  text-center  border-b-2  w-full   font-bold ;
  
}

.mobile-nav a.active {
  color: black;
 
}
.desktopnav a{
  border: 2px solid transparent;
  padding: 5px 10px;
  border-radius: 20px;
  font-weight: 600;
  
}
.desktopnav a.active {
 
  border: 2px solid #FF0642;
}

/* Home page */
.homepage{
  min-height: 85vh;

  background: url('./assets/heroBGimg.jpg');
  /* background:linear-gradient(135deg,#600933,#100B2C,#0A1598) ; */
  background-size: cover;  /* in tailwind   bg-cover and bg-center*/
  background-position:top;
  padding-left: 50px;
  padding-top: 50px;
}

/*About page*/
.aboutPage{
  min-height: 85vh;
  background: url('./assets/magenta-concrete-textured-background-blank-space-with-vignette.jpg');
  background-size: cover;
  background-position: bottom;
  color:rgb(10, 10, 10);
  font-size:20px;
  padding: 10px 20px;

}

.buttons button{
  padding: 8px 20px;
  width:200px;
box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  border-radius: 20px;
  background-color: antiquewhite;
  cursor: pointer;

}
.buttons button:hover{
  color:white;
  background-color:#FF0642
}
.skills{
  min-height: 90vh;
  background: url(./assets/project.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
 

}
.technology{
background:transparent;
box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
width:400px;
height:320px;
border-radius: 10px;
}

.skillsList li{
  background: rgb(132, 193, 46);
  width: 200px;
  padding-left: 25px;
  margin-left: 90px;
  font-weight: 600;
  color:#b21e41;
  border-radius: 10px;
padding:2px 0px;
}
.projectPage{
  min-height: 88vh;
  background: url(./assets/projectBg.png);
  background-position: center;
  background-size: cover;
}
.projectItem{
  overflow: hidden;
}
.projectItem h2{
  background-color: rgb(227, 28, 177);
  padding: 3px 10px;
  border-radius: 20px;
  border: none;
}
.projectItem img {
  width: 300px;
  height: 280px;
  border-radius: 10px;
  transition: transform 0.3s ease;
}

.projectItem img:hover {
  transform: scale(1.1);
}
.projectItem a{
  background: transparent;
  padding: 3px  8px;
  border-radius: 20px;

}
.projectItem a:hover{
  background-color: #0A1598;
  color:white;
  font-weight: 500;
}
.gitlink a{
  border-radius: 20px;
  color:#0A1598

}
.gitlink a:hover{
  background:linear-gradient(270deg,rgb(232, 94, 183),rgb(157, 222, 72)) ;

}

.contact {
  min-height: 100vh;
  padding: 100px 8%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.contact-container {
  width: 100%;
  max-width: 1000px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 80px;
  background: url(./assets/contact_bg.jpg);
  background-position: center;
  background-size: cover;
  padding: 10px;
  border-radius: 10px;
}


.contact-info {
  flex: 1;
}

.contact-info h1 {
  font-size: 45px;
  margin-bottom: 20px;
}

.contact-info > p {
  font-size: 18px;
  line-height: 1.7;
  margin-bottom: 35px;
}

.contact-details {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.contact-details p {
  font-size: 16px;
}

/* Form */

.contact-form {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.contact-form input,
.contact-form textarea {
  width: 100%;
  padding: 15px 18px;
  font-size: 16px;
  font-family: inherit;

  border: 1px solid #ccc;
  border-radius: 8px;

  outline: none;
  box-sizing: border-box;

  transition: 0.3s;
}

.contact-form input:focus,
.contact-form textarea:focus {
  border-color: #333;
}

.contact-form textarea {
  height: 160px;
  resize: none;
}

/* Button */

.contact-form button {
  width: fit-content;
  padding: 14px 30px;

  background: #000;
  color: white;

  border: none;
  border-radius: 8px;

  font-size: 16px;
  cursor: pointer;

  transition: 0.3s;
}

.contact-form button:hover {
  background: #333;
  transform: translateY(-2px);
}


/* Responsive */

@media (max-width: 768px) {

  .contact {
    padding: 70px 6%;
  }

  .contact-container {
    flex-direction: column;
    gap: 50px;
    background-position: right;
  }

  .contact-info h1 {
    font-size: 35px;
  }

  .contact-info > p {
    font-size: 16px;
  }

  .contact-form {
    width: 100%;
  }

  .contact-form button {
    width: 100%;
  }
}